@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .gradient-box {
    background-image: linear-gradient(118deg, #243765 28%, #415991 100%);
  }
  .gray-box {
    background-color: #a6a6a6;
  }
  .overlap {
    grid-area: overlap;
  }
  .text-shadow {
    filter: drop-shadow(0px 7px 4px rgba(0,0,0,0.22));
  }
  figure.text-shadow > div:first-of-type {
    filter: drop-shadow(0px 7px 4px rgba(0,0,0,0.22));
    z-index: 100;
  }
}

body {

}
